@font-face {
    font-family: "Pacifico";
    src: url('assets/fonts/Pacifico-Regular.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url('assets/fonts/Roboto.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "BulgariaRegular";
    src: url('assets/fonts/Bulgaria\ Dreams\ Regular.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "BulgariaBold";
    src: url('assets/fonts/Bulgaria\ Dreams\ Bold.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "AileronRegular";
    src: url('assets/fonts/Aileron-Regular.otf') format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "AileronSemiBold";
    src: url('assets/fonts/Aileron-SemiBold.otf') format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "AileronBold";
    src: url('assets/fonts/Aileron-Bold.otf') format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "AileronHeavy";
    src: url('assets/fonts/Aileron-Heavy.otf') format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "AileronBlack";
    src: url('assets/fonts/Aileron-Black.otf') format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "DKDisplay";
    src: url('assets/fonts/DK\ Display\ Patrol.otf') format("opentype");
    font-display: swap;
}

:root {
    --brown: #2D1919;
    --red: #EB0000;
    --white: #FFF;
    --white2: #fff7f0;
    --yellow: #FBE0AD;
    --yellow2: #FFEBBC;
    --blue: #0070F8;

    --width-grid-base: 1440px;
    --container-ipad: 744px;
    --container-ipad-landscape: 1133px;
    --container-mobile: 600px;

    /* --spacing-container-padding-block: 2rem; */
    --spacing-container-padding-block: 4rem;
    /* --spacing-container-padding-block: 6rem; */
    --spacing-container-padding-inline: 2rem;
    --spacing-container-padding-inline-large: 4rem;
  
    @media (max-width: 1590px) {
      --spacing-container-padding-inline: 4rem;
    }
  
    @media (max-width: 1439px) {
      --spacing-container-padding-inline: 3rem;
    }  
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

.preload * {
    transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

html {
  height: 100%;
  background-color: var(--white);
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23fbe0ad' fill-opacity='0.5' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

body {
  min-height: 100vh;
  height: 100%;
  height: auto;
  overflow-x: hidden;
  /* overflow-x: initial; */
}

::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0, 112, 248, 1); */
	/* border-radius: 10px; */
	background-color: #fff;
}

::-webkit-scrollbar
{
	width: 9px;
	background-color: #fff;
}

::-webkit-scrollbar-thumb
{
	/* border-radius: 10px; */
	/* -webkit-box-shadow: inset 0 0 6px rgba(0, 112, 248, 1); */
	background-color: rgba(0, 112, 248, 1);
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

h1,h2,h3,h4,p,a {
    color: #EB0000;
    color: var(--brown);
    color: var(--blue);
    color: var(--white);
    /* font-family: Arial !important; */
}

h1 {
    font-family: BulgariaBold, serif;
    font-family: ice-cream-slant, serif;
    font-family: DKDisplay, sans-serif;
    font-size: 5rem;
    letter-spacing: -0.01em;
    /* line-height: 1.25rem; */
    /* letter-spacing: 1px; */
    /* letter-spacing: normal; */
}

h2 {
    font-family: DKDisplay, sans-serif;
    font-size: 3rem;
    /* line-height: 1.25rem; */
    /* letter-spacing: 1px; */
    /* letter-spacing: normal; */
}

h3 {
    font-family: DKDisplay, sans-serif;
    /* font-size: 1.4rem; */
    /* line-height: 1.25rem; */
    /* letter-spacing: normal; */
}

h4 {
    font-family: DKDisplay, sans-serif;
    font-size: 1.5rem;
    /* line-height: 1.25rem; */
    /* letter-spacing: normal; */
}

p {
    font-family: AileronBlack, sans-serif;
    font-family: DKDisplay, sans-serif;
    font-family: 'brevia', sans-serif;
    font-weight: 800;
    /* font-size: 0.9rem; */
    /* line-height: 1.25rem; */
    /* letter-spacing: normal; */
}

a {
    font-family: AileronBlack, sans-serif;
    /* border: solid #979797;
    border-width: 1px 1px;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.15);
    line-height: 4rem;
    padding: 0.8rem 1.8rem;
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem; */
}

a:hover,
a:focus,
a:focus-within {
    /* background-color: #fff;
    color: #000;
    border: none;
    padding: 0; */
}

.fade {
    opacity: 0;
    transition-duration: 300ms;
}
  
.fade.active {
    opacity: 1;
    animation: fadeInUp .6s cubic-bezier(0.68, -0.6, 0.32, 1.6) both;
}

.slowfade {
    opacity: 0;
    transition-duration: 300ms;
}
  
.slowfade.active {
    opacity: 1;
    animation: fadeInUp 1.2s cubic-bezier(0.68, -0.6, 0.32, 1.6) both;
}  

@keyframes returnToOrigin {
    100% {
        transform: translate(0);
        opacity: 1;
    }    
}

#nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin: 0 auto;
    padding: 0 40px;
    padding: 0.75rem 20px 0.5rem;
    border-bottom: 3px solid var(--blue);
    position: sticky;
    /* height: 64px; */
    top: 0;
    width: 100%;
    z-index: 5;
    background-color: var(--white);
    
    h1 {
        color: var(--blue);
        font-size: 3rem;
        text-align: center;
    }

    h3 {
        font-family: AileronBlack, sans-serif;
        font-family: 'brevia', sans-serif;
        font-weight: 800;
        font-style: normal;
        letter-spacing: -0.5px;
        letter-spacing: -0.02em;
        font-size: 1rem;
        font-size: 16px;
        color: var(--blue);
    }

    a {
        font-family: 'brevia', sans-serif;
        font-weight: 800;
        font-style: normal;
        letter-spacing: -0.5px;
        font-size: 1rem;
        font-size: 16px;
        color: var(--blue);
    }
}

.nav-items-mob {
    display: none;
}

.nav-items-desk {
    display: flex;
    gap: 2rem;
    align-items: end;
}

.nav-contact {
    display: grid;
    gap: 0.5rem;
    justify-content: end;

    h3 {
        display: grid;
    }

    img {
        display: none;
    }
}

.hero {
    background-image: url("assets/images/pic2.jpg");
    background-size: cover;
    /* width: 90%; */
    height: auto;
    height: 91.5dvh;
    height: 95dvh;
    /* border-radius: 24px; */
    /* border: 8px solid var(--blue); */
    padding: 2rem;
    /* margin: 0.5rem; */
    /* box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.25);
    box-shadow: 15px 15px 50px rgba(0, 112, 248, 0.5); */
    display: flex;
    align-items: center;
    animation: .4s .2s heroFade both;

    h3 {
        color: var(--blue);
        font-size: 36px;
        letter-spacing: -0.05em;
        font-family: 'brevia', sans-serif;
        font-weight: 800;
        text-wrap: balance;
        line-height: 1;
        padding-bottom: 0.25rem;
        margin: 0 auto;
        max-width: 80%;
    }

    p {
        color: var(--blue);
        font-size: 16px;
        letter-spacing: -0.02em;
        font-family: 'brevia', sans-serif;
        font-weight: 800;
        text-wrap: balance;
        padding-bottom: 0.5rem;
    }

    div {
        animation: fadeInUp .6s cubic-bezier(0.68, -0.6, 0.32, 1.6) both;
    }
}

@keyframes heroFade {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

@keyframes fadeInUp {
    0% { opacity: 0; transform: translate3d(0px, 30px, 0px);}
    100% { opacity: 1; transform: translate3d(0px, 0px, 0px);}
}

.button-wrapper {
    margin-top: 2rem;
    display: flex;
    margin: 0 auto;
}
  
.button-wrapper a {
    color: #fff;
    display: flex;
    background-color: var(--blue);
    border-radius: 12px;
    padding: 0 30px;
    height: 46px;
    font-size: 18px;
    font-family: 'brevia', sans-serif;
    font-weight: 800;
    z-index: 3;
    border: 2px solid;
    text-decoration: none;
    letter-spacing: -0.02em;
    transition: background-color .3s ease, color .3s ease, border .3s ease;
    align-items: center;
}

.button-wrapper a:hover {
    background-color: var(--white);
    color: var(--blue);
}

.hero-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50dvh;
}

.number {
    justify-self: end;
}

.hero-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;

    div {
        background-color: rgba(0, 0, 0, 0.4);
        background-color: var(--white);
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        padding: 1rem;
        border-radius: 16px;
        border: 3px solid var(--blue);
        max-width: 400px;
        justify-self: center;
    }

    p {
        color: var(--blue);
    }

    img {
        width: 20%;
        rotate: -30deg;
    }
}

.block {
    background-color: var(--yellow2);

    h2 {
        font-size: 6.5rem;
        color: var(--blue);
        /* font-family: 'brevia', sans-serif; */
        /* font-weight: 800; */
        text-align: center;
        /* padding-top: 4rem; */
        letter-spacing: -0.01em;
    }

}

.container {
    max-width: var(--width-grid-base);
    margin: auto;
    padding: var(--spacing-container-padding-block) var(--spacing-container-padding-inline);

    /* @if $width-grid-base > 1440 {
      @media (min-width: $container-ipad-landscape) and (max-width: 140rem + 4rem) {
        padding-inline: var(--spacing-container-padding-inline-large);
      }
    } */
  }

@media screen and (min-width: 1441px) {
    .container {
        padding-inline: var(--spacing-container-padding-inline-large);
    }
}
  
.card {
    /* color: var(--blue); */
    background-color: var(--blue);
    background-color: var(--white);
    padding: 1.5rem;
    border-radius: 0.25rem;
    border-radius: 12px;
    border: 3px solid var(--blue);
    pointer-events: auto;
  
    h3 {
      margin-bottom: 1rem;
      /* font-family: 'Playfair Display', serif; */
      font-family: 'brevia', sans-serif;
      font-weight: 800;
      font-size: 1.5rem;
      letter-spacing: -.01em;
      letter-spacing: -0.05em;
      color: var(--blue);
      /* color: var(--white); */

    }
  
    p {
      &:not(:last-of-type) {
        margin-bottom: 0.75rem;
        color: var(--blue);
        /* color: var(--white); */
      }
      color: var(--blue);
      font-size: 16px;
      letter-spacing: -0.02em;
    }

    img {
        transition: transform .5s ease;
    }
  }

  .card:hover {
    overflow: hidden;
    /* background-color: #FBE0AD;
    background-color: var(--yellow); */

    img {
        transform: scale(1.2) translate3d(0px, 20px, 0px);
        transform: scale(1.1);
        z-index: -1;
    }
}

  
  .image-content {
    margin-bottom: 1.5rem;
    border-radius: 0.25rem;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .block-carousel {
    overflow: hidden;
    pointer-events: none;
  
    &[data-animated="true"] {
      @media (prefers-reduced-motion: reduce) {
        overflow: visible;
      }
    }
  
    .carousel-items {
      list-style: none;
      align-items: start;
      display: grid;
      gap: 4rem;
      grid-auto-columns: 20rem;
      grid-auto-flow: column;
      padding-bottom: var(--spacing-container-padding-block);
  
      @media (max-width: 600px) {
        gap: 2rem;
      }
  
      @media (min-width: 1133px) {
        grid-auto-columns: 30rem;
      }
  
      @media (prefers-reduced-motion: reduce) {
        overflow: visible;
        overflow-x: scroll;
      }
    }
  
    &[data-animated="true"] .carousel-items {
      &:hover,
      &:focus {
        animation-play-state: paused;
      }
  
      @media (prefers-reduced-motion: no-preference) {
        animation-duration: 60s;
        animation-iteration-count: infinite;
        animation-name: scroll;
        animation-timing-function: linear;
        width: max-content;
      }
  
    }
  }
  
  @keyframes scroll {
    to {
      transform: translate(calc(-50% - .5rem));
    }
  }

.flavors {
    height: 60vh;
    background-color: var(--yellow);
    background-color: var(--yellow2);

    h2 {
        font-size: 6.5rem;
        color: var(--blue);
        /* font-family: 'brevia', sans-serif; */
        /* font-weight: 800; */
        text-align: center;
        padding-top: 4rem;
        letter-spacing: -0.01em;
    }

    h4 {
        color: var(--blue);
    }
}

.scroll-container {
    /* height: 100vh; */
    /* min-height: 20rem; */
    height: fit-content;
    overflow-x: hidden;
    margin-top: 1rem;
}

.carousel-primary, .carousel.secondary {
    /* top: 26%; */
    left: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

.carousel-div {
    width: 200px;
    overflow: hidden;
}

.carousel-img {
    margin: 1rem;
    border: 1px solid #EB0000;
    border: 1px solid var(--brown);
    border: 1px solid var(--blue);
    border-radius: 10px;
    padding: 1.5rem;
    overflow: hidden;
    transition: background-color .5s ease;
}

.carousel-img:hover {
    overflow: hidden;
    background-color: #FBE0AD;
    background-color: var(--yellow);

    img {
        transform: scale(1.4) translate3d(0px, 20px, 0px);
        z-index: -1;
    }
}

.carousel-primary img {
    width: 80%;
    place-self: center;
    transition: transform .5s ease;
    /* width: 20%; */
    /* margin-left: 2rem; */
    /* border-radius: 16px; */
}

.carousel-primary {
    display: flex;
    /* justify-content: space-around; */
    justify-content: start;
    animation: scroll-horizontal 25s linear infinite;
}

.carousel-secondary {
    animation: scroll-horizontal 25s linear infinite;
    animation-delay: 12.5s;
}

@keyframes scroll-horizontal {
    0% {
        left:100%;
    }
    100%{
        left:-100%;
    }
}

.carousel-primary:hover,
.carousel-primary:hover~.carousel-secondary {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

.carousel-secondary:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

.scroll-container:hover>.carousel-primary:not(:hover) {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

.hours {
    background-color: var(--blue);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2rem;
    padding: 4rem 2rem;

    h2 {
        color: var(--white);
        max-width: 800px;
        text-align: center;
        letter-spacing: -.05em;
        font-size: clamp(4vw, 60px);
        font-size: 60px;
        text-wrap: balance;
        text-wrap: wrap;
        line-height: 1;
        font-family: 'brevia', sans-serif;
        font-weight: 800;
        margin: 0 auto;
        padding: 2rem;
        padding: 2rem 0;
    }

    img {
        /* animation: fadeInUp 1s cubic-bezier(0.68, -0.6, 0.32, 1.6) both; */
    }
}

.van {
    width: 200px;
    height: 200px;
    left: 40px;
    top: 30px;
    position: relative;
}

.straw {
    width: 125px;
    height: 125px;
    position: relative;
    right: 80px;
    top: 70px;
}

.choc {
    width: 150px;
    height: 150px;
    position: relative;
    right: 80px;
    top: 15px;
}

.lem {
    width: 100px;
    height: 100px;
    position: relative;
    left: 80px;
    bottom: 20px;
}

.hours-images {
    justify-items: center;
}

.hour-div {
    justify-items: center;
}

.text-box {
    margin: 0 auto 0;
    max-width: 400px;
    text-align: center;
    background-color: var(--white);
    padding: 1rem;
    align-items: center;
    display: grid;
    /* gap: 0.5rem; */
    border: 3px solid var(--blue);
    position: relative;
    border-radius: 12px;
    transform-style: preserve-3d;
    z-index: 2;
    position: relative;
    bottom: 20px;
    bottom: 10px;
    
    h3 {
        color: var(--blue);
        font-size: 3rem;
        font-size: 2.5rem;
    }

    p {
        color: var(--blue);
    }
}

.scoop {
    h1 {
        color: var(--blue);
    }

    h2 {
        color: var(--blue);
    }

    p {
        color: var(--blue);
    }
}

.scooptext {
    margin: 0 auto;
}


.story {
    background-color: var(--blue);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 900px) {
    #nav {
        grid-template-columns: 1fr 3fr 1fr;
        padding: 1rem 20px 0.75rem;

        h1 {
            font-size: 2rem;
            font-size: 1.8rem;
            line-height: 0.9;
        }
    }

    .nav-items-mob {
        display: grid;
    }

    .nav-items-desk {
        display: none;
    }

    .nav-contact {
        h3 {
            display: none;
        }

        img {
            display: grid;
        }
    }

    .hero {
        height: 100dvh;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;

        h3 {
            font-size: clamp(22px, 6.5vw, 30px);
        }

        p {
            font-size: calc(16px / 1.1);
        }

        a {
            font-size: 15px;
            padding: 0 15px;
            height: 36px;
        }
    }

    .container {
        padding: 3rem 1rem 2rem;

        h2 {
            font-size: 3rem;
            font-size: calc(64px / 0.9);
            line-height: 0.9;
        }
    }

    .card {
        h3 {
            font-size: clamp(22px, 6.5vw, 30px);
            letter-spacing: -0.05em;
            margin-bottom: 0.5rem;
        }

        p {
            font-size: calc(16px / 1.1);
        }
    }

    .image-content {
        margin-bottom: 1rem;
    }

    .hours {
        display: block;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        gap: 30px;
        padding: 4rem 2rem 0rem;
        padding: 3rem 1rem;

        h2 {
            font-size: 7vw;
            padding: 0 2rem;
            /* top: -70px; */
            position: relative;
        }

        .text-box {
            /* top: 40px; */
            display: none;
            
            h3 {
                font-size: 2rem;
            }

            p {
                font-size: calc(16px / 1.1);
            }
        }
    }

    .hours-images {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-end;
        flex: 100%;
    }

    .hour-div {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-end;
        flex: 100%;
    }

    .van {
        width: 150px;
        height: 150px;
        top: 0;
        left: 0;
        /* top: -30px;
        left: 100px; */
    }

    .straw {
        width: 60px;
        height: 60px;
        top: 0;
        right: 0;
        /* top: -70px;
        right: 140px; */
    }

    .choc {
        width: 120px;
        height: 120px;
        top: 0;
        right: 0;
        /* top: -60px;
        right: 140px; */
    }

    .lem {
        width: 80px;
        height: 80px;
        bottom: 0;
        top: 0;
        left: 0;
        /* top: -280px;
        left: 120px; */
    }

}